

<div class='clientWrap mobileHide'>

  <img class='clientImage slide2' ng-src='{{prim}}' ng-repeat='prim in currentClient.primary'>
  <img class='clientImage slide2' ng-src='{{image}}' ng-repeat='image in currentClient.images' ng-if="$odd">

</div>



<div class='clientWrap'>

  <div ng-repeat='prim in currentClient.primary' class='clientText slide'>
    <div class='innerText'>
      <h3>{{currentClient.project}}</h3>
      <p ng-bind-html="trustHtml(currentClient.description)"></p>
    </div>
  </div>

  <img class='clientImage slide2 mobileHide' ng-src='{{image}}' ng-repeat='image in currentClient.images' ng-if="$even">
  <img class='clientImage slide2 mobileShow' ng-src='{{image}}' ng-repeat='image in currentClient.primary' ng-if="$even">

</div>



<div class='clientWrap mobileShow'>

  <img class='clientImage slide2' ng-src='{{image}}' ng-repeat='image in currentClient.images' ng-if="$even">
  <img class='clientImage slide2' ng-src='{{image}}' ng-repeat='image in currentClient.images' ng-if="$odd">

</div>
