



<div class='contactWrap'>

  <div ng-repeat='contact in contactTimer' class='contactText slide'>
    <div class='contactInnerText'>
      <h3>Contact</h3>
      <p>Like my Work? I create everything from logos, print material and advertisements to websites, online stores, and mobile apps.</p>
      <p>Tell me about your project. Contact me by email:</p>
      <p>coleman@kelleghandesign.com</p>
    </div>
  </div>

  <img class='clientImage slide2' ng-src='{{image}}' ng-repeat='image in currentClient.images' ng-if="$even">

</div>
