



<div class='contactWrap'>

  <div ng-repeat='contact in contactTimer' class='contactText slide'>
    <div class='contactInnerText'>
      <h3>Contact</h3>
      <p>Like my Work? I create websites, online stores, mobile apps, logos, print material, advertisements and more. Connect with me on GitHub <a href="https://github.com/kelleghan1">here</a> or contact me by email to tell me about your project.</p>
      <p>coleman@kelleghandesign.com</p>

      <br>
      <h3>My skills include:</h3>
      <table>
        <tbody>

          <tr>
            <td>HTML5</td>
            <td>Javascript</td>
          </tr>

          <tr>
            <td>CSS</td>
            <td>jQuery</td>
          </tr>

          <tr>
            <td>PostreSQL</td>
            <td>AngularJS</td>
          </tr>

          <tr>
            <td>Knex</td>
            <td>Node.js</td>
          </tr>

          <tr>
            <td>Express</td>
            <td>Git</td>
          </tr>

          <tr>
            <td>Ruby on Rails</td>
            <td>Ionic</td>
          </tr>

          <tr>
            <td>Adobe Illustrator</td>
            <td>Cordova</td>
          </tr>

          <tr>
            <td>Adobe Photoshop</td>
            <td>Wordpress</td>
          </tr>

          <tr>
            <td>Adobe InDesign</td>
            <td>Print Process</td>
          </tr>

          <tr>
            <td>Digital Art</td>
            <td>Pivotal Tracker</td>
          </tr>

        </table>
      </tbody>

    </div>
  </div>

  <img class='clientImage slide2' ng-src='{{image}}' ng-repeat='image in currentClient.images' ng-if="$even">

</div>
