html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'futura';
  font-size: 15px;
  background-color: #f2f2f2;
  line-height: 24px;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: grey
}

a:visited {
  text-decoration: underline;
  color: grey
}

header {
  padding: 0;
  overflow: auto;
}

nav {
  margin: 2% 1% 2%;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer
}

.navButton {
  display: inline;
  padding: 0 0 3px 0;
  margin: 0 0 0 15px;
}

.pageLink {
  display: inline;
}

.navButton:hover {
  border-bottom: 2px solid black;
}

.pageLink:hover {
  border-bottom: 2px solid black;
}

h3 {
  margin: 0;
  padding-bottom: 3%;
  border-bottom: 2px solid black;
  text-align: left;
}

canvas {
  display: block;
}

p {
  margin: 3% 0;
}

#innerHeader {
  overflow: auto;
  border-bottom: 2px solid black;
  margin: 0 auto;
  width: 80%;
  position: relative;
}

#logoWrap {
  float: left;
  margin: 2% 1% 2%;
}

#container {
  margin: 0;
  margin: 0 auto;
  width: 80%;
}

#geoContainer {
  display: block;
  box-sizing: border-box;
  height: 35vw;
  overflow: auto;
  margin-top: 1.6vw;
  width: 100%;
}

#logo {
  cursor: pointer;
  display: block;
  height: 14.4vw;
}

.imageWrap {
  width: 18%;
  height: 14.4vw;
  margin: 2% 1% 0;
  float: left;
  /*z-index: 0*/
}

.image {
  width: 100%;
  display: block;
  transition: all .2s ease;
}

.image:hover {
  box-shadow: 0px 0px 9px #888888;
  width: 106%;
  transition: all .2s ease;
  transform: translateX(-2.4%) translateY(-2.4%);
}

.clientWrap {
  box-sizing: border-box;
  margin: 0 1% 0;
  width: 48%;
  float: left;
}

.clientText {
  overflow: auto;
  margin: 4% 0 0;
  width: 100%;
  background-color: white;
}

.clientImage {
  display: block;
  margin-top: 4%;
  width: 100%;
}

.innerText {
  margin: 5% 6%;
}

.contactText {
  overflow: auto;
  margin: 2% 0 0;
  width: 100%;
  background-color: white;
}

.contactInnerText {
  margin: 2.5% 3%;
}


.mobileShow {
  display: none;
}

/*ANIMATION 1*/

.slide.ng-enter {
  transition:0.14s linear all;
  transform:translateY(350px);
  opacity: 0;
}
.slide.ng-enter.ng-enter-active {
  transform:translateY(0);
  opacity: 1;
}
.slide.ng-enter-stagger {
  transition-delay: 0.04s;
}

/*ANIMATION 2*/

.slide2.ng-enter {
  transition: 0.25s linear all;
  transform:translateY(500px);
  opacity: 0;
}
.slide2.ng-enter.ng-enter-active {
  transform:translateY(0);
  opacity: 1;
}
.slide2.ng-enter-stagger {
  transition-delay: 0.15s;
}

#gameover {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 5px;
  font-family: 'Futura';
  color: white;
  font-size: 15px;
  position: absolute;
}

#gameover > p {
  padding: 0;
  margin: 0;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 650px) {


  body {
    font-size: 15px;
    background-color: #f2f2f2;
    line-height: 24.02px;
  }

  #innerHeader {
    border-bottom: 2px solid black;
    margin: 0 auto;
    width: 520px;
    max-width: 100%
  }

  #container {
    overflow: auto;
    padding-bottom: 100px;
    margin: 0;
    margin: 0 auto;
    width: 520px;
    max-width: 100%
  }

  .imageWrap {
    width: 23%;
    height: 119.6px;
    margin: 2% 1% 0;
    float: left;
  }


}

@media only screen and (max-width: 500px) {

  body {
    font-size: 14.5px;
    background-color: #f2f2f2;
    line-height: 24px;
  }

  .imageWrap {
    width: 98%;
    height: 98vw;
    margin: 2% 1% 0;
    float: left;
  }

  .clientWrap {
    box-sizing: border-box;
    margin: 0 1% 0;
    width: 98%;
    float: left;
  }

  .mobileHide {
    display: none;
  }

  .mobileShow {
    display: block;
  }

}

#scoreboardp {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-family: 'Futura';
  color: white;
  font-size: 20px;
  position: fixed;
  bottom: 15px;
  left: 15px;
}

#gameoverp {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-family: 'Futura';
  color: white;
  font-size: 20px;
  position: fixed;
  top: 15px;
  left: 15px;
  display: hidden;
}
